<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TASK.DATA.Properties.Settings.ALSC_SyncDataConnectionString"
            connectionString="Data Source=.;Initial Catalog=ALSC_SyncData;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TASK.DATA.Properties.Settings.ALSC_SyncDataConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ALSC_SyncData;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="TASK.DATA.Properties.Settings.ALSC_SyncDataConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ALSC_SyncData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TASK.DATA.Properties.Settings.ALSC_SyncDataConnectionString3"
            connectionString="Data Source=10.10.1.10;Initial Catalog=ALSC_SyncData;User ID=sa;Password=abc@123@456@789"
            providerName="System.Data.SqlClient" />
        <add name="TASK.DATA.Properties.Settings.ALSC_FLIGHTCONTROLConnectionString"
            connectionString="Data Source=10.10.1.10;Initial Catalog=ALSC_FLIGHTCONTROL;User ID=sa;Password=abc@123@456@789"
            providerName="System.Data.SqlClient" />
        <add name="TASK.DATA.Properties.Settings.DBSPM_ALSNOIBAIConnectionString"
            connectionString="Data Source=10.10.1.10;Initial Catalog=DBSPM.ALSNOIBAI;Persist Security Info=True;User ID=sa;Password=abc@123@456@789"
            providerName="System.Data.SqlClient" />
        <add name="TASK.DATA.Properties.Settings.DBSPM_ALSNOIBAIConnectionString1"
            connectionString="Data Source=10.10.1.10;Initial Catalog=DBSPM.ALSNOIBAI;User ID=sa;Password=abc@123@456@789"
            providerName="System.Data.SqlClient" />
        <add name="TASK.DATA.Properties.Settings.QMSTicketsConnectionString"
            connectionString="Data Source=10.10.1.10;Initial Catalog=QMSTickets;User ID=sa;Password=abc@123@456@789"
            providerName="System.Data.SqlClient" />
        <add name="TASK.DATA.Properties.Settings.ConnectALSConnectionString"
            connectionString="Data Source=10.10.1.10;Initial Catalog=ConnectALS;User ID=sa;Password=abc@123@456@789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>